body {
  -webkit-font-smoothing: antialiased;
  font-family: nta, Helvetica;
  background-color: #005ea5;
  color: #fff;
}

#stats h3 {
  font-size: 600%;
  font-weight: bold;
}

#stats p {
  font-size: 200%;
  font-weight: bold;
}
